<div class="comments">
  {{#each this}}
    <div>
      <p class="card">
        {{comment_text}}
        -
        {{user.username}}
        {{format_date date}}
      </p>
    </div>
  {{/each}}
</div>