<div class="card mx-auto mt-5" style="width: 50%;">
  <div class="card-body">
    <h5 class="card-title">Create New Post</h5>
  <form id="new-post-form">
    <input type="hidden" name="post-id" value="{{post.id}}" />
    <div>
      <label class="form-label">Title:</label>
      <input class="form-input create" type="text" name="post-title" />
    </div>
    <div>
      <label class="form-label">Content:</label>
      <textarea
        class="form-input create"
        name="post-body"
        data-number="8"
      ></textarea>
    </div>
    <button type ="submit" class="btn btn-primary">CREATE</button>
  </form>
  </div>
</div>
<script src="/Javascript/create-post.js"></script>