<div class="card mx-auto mt-5" style="width: 70%;">
  <div class="card-body">
    <h5 class="card-title">Create New Post</h5>
    <form id = "user-new-post">
      <div class="mb-3">
        <label for="text" class="form-label">Post Title</label>
        <input
          type="text"
          class="form-control"
          id="new-post-user"
          aria-describedby="loginInfo"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Content:</label>
        <div class="input-group">
          <div class="input-group-prepend">

          </div>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
      <a type="submit" class="btn btn-primary">Post</a>
    </form>
  </div>
</div>