<div class="card mx-auto mt-5" style="width: 50%;">
  <div class="card-body" id="signup-color">
    <h5 class="card-title">Signup</h5>
    <form id = "signup-form">
      <div class="mb-3">
        <label for="signup-username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="signup-username"
          aria-describedby="userSignup"
        />
      </div>
      <div class="mb-3">
        <label for="signup-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="signup-password" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<script src="/Javascript/signup.js"></script>