{{> post-info post}}

{{#if logged_in}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Add comment</button>
  </div>
  
</form>
{{/if}}
{{> comment post.comment}}
</div>
<script src="/Javascript/comment.js"></script>